<!doctype html>
<head>
  <title>{% if not title %}Shimmer simmer{% else %}{{ title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% block headcontent %}
  {% endblock %}
</head>
<div class=maincontent>
<div class="menu">
  <ul>
    <li><a href="/">Simulate</a></li>
    <li><a href="list">List of sims</a></li>
    <li><a href="login">{% if not loggedin %}Log in{% else %}Log out{% endif %}</a></li>
  </ul>
</div>
<div class="content">{% block content %}
{% endblock %}
</div>
<div class="footer">
  2017 | Lomri @ Frostwhisper-EU | Runs on <a href="http://flask.pocoo.org/">Flask</a> | <a href="https://github.com/Lomri/shimmersim">Source</a>
</div>
</div>
